apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-db
  template:
    metadata:
      labels:
        app: notes-db
    spec:
      containers:
        - name: postgres
          image: postgres:15
          env:
            - name: POSTGRES_USER
              value: "user"
            - name: POSTGRES_PASSWORD
              value: "password"
            - name: POSTGRES_DB
              value: "notesdb"
          ports:
            - containerPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: notes-db
spec:
  type: ClusterIP
  selector:
    app: notes-db
  ports:
    - port: 5432
      targetPort: 5432
