apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-frontend
  template:
    metadata:
      labels:
        app: notes-frontend
    spec:
      containers:
        - name: frontend
          image: <kltod/notes-frontend:v1
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: notes-frontend
spec:
  type: NodePort
  selector:
    app: notes-frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30001
